name: Application
on: [push]

jobs:
  test_unit:
    name: Unit tests on node 12.x
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1
        with:
          fetch-depth: 1
      - uses: actions/setup-node@v1
        with:
          node-version: '12.x'
      - name: npm install, lint and unit test
        run: |
          npm ci
          npm run lint
          npm run test:unit -- --coverage
        env:
          CI: true
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v1.0.2
        with:
          token: ${{ secrets.CODECOV_TOKEN }}

  deploy:
    name: Deploy application to AWS
    runs-on: ubuntu-latest
    needs: [test_unit]
    if: github.ref == 'refs/heads/master'

    steps:
      - uses: actions/checkout@v1
        with:
          fetch-depth: 1
      - uses: actions/setup-node@v1
        with:
          node-version: '12.x'
      - name: Install packages
        run: |
          npm ci
      - name: Deploy
        run: |
          npm run deploy
