name: website
on: [push]

jobs:
  test_unit:
    name: Unit tests on node 12.x
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1
        with:
          fetch-depth: 1
      - uses: actions/setup-node@v1
        with:
          node-version: '12.x'
      - name: npm install, lint and unit test
        run: |
          npm ci
          npm run lint
          npm run test:unit -- --coverage
        env:
          CI: true
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v1.0.2
        with:
          token: ${{ secrets.CODECOV_TOKEN }}

  test_e2e:
    name: E2E test website with Testcafe
    runs-on: ubuntu-latest

    container:
      image: circleci/node:10.14-browsers

    steps:
      - uses: actions/checkout@v1
        with:
          fetch-depth: 1
      - name: Install packages
        run: |
          sudo npm ci
      - name: Run Next.js
        run: |
          npm run dev 2>&1 > /dev/null &
      - name: Run Testcafe
        run: |
          npm run test:e2e:headless

  deploy:
    name: Deploy website to AWS
    runs-on: ubuntu-latest
    needs: [test_unit, test_e2e]
    if: github.ref == 'refs/heads/master'

    steps:
      - uses: actions/checkout@v1
        with:
          fetch-depth: 1
      - uses: actions/setup-node@v1
        with:
          node-version: '12.x'
      - name: Install packages
        run: |
          npm ci
      - name: Deploy
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          WEBSITE_BUCKET: ${{ secrets.WEBSITE_BUCKET }}
        run: |
          npm run deploy
